.card{
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    margin: auto;
    padding: 48px;
    position: relative;
    text-align: left;
    width: 100%;
}
.row-lg{
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    margin: auto;
    margin-top: 50px;
    padding: 48px;
    text-align: justify;
    width: 90%;
}
